<div class="medicamento-container" *ngFor="let medicamento of medicamentos">
    <div class="medicamento-card">
      <!-- Imagen del medicamento -->
      <img [src]="medicamento.imagen" alt="{{medicamento.nombre}}" class="medicamento-imagen">
  
      <!-- Detalles del medicamento -->
      <div class="medicamento-info">
        <h3>{{ medicamento.nombre }}</h3>
        <p>{{ medicamento.descripcion }}</p>
      </div>
  
      <!-- Botones de acciones -->
      <div class="medicamento-acciones">
        <button mat-raised-button color="warn" (click)="eliminarMedicamento(medicamento.id)">Eliminar</button>
        <button mat-raised-button color="primary" (click)="verExistencias(medicamento.id)">Ver Existencias</button>
        <button mat-raised-button color="accent" (click)="actualizarLote(medicamento.id)">Actualizar Lote</button>
      </div>
    </div>
  </div>
  