.medicamento-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  
  .medicamento-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .medicamento-imagen {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .medicamento-info {
    margin: 10px 0;
    text-align: center;
  }
  
  .medicamento-acciones button {
    margin: 5px;
  }
  